/*------------------*
# Headings
*------------------*/

/*
 * Uniform spacing and color for headings
*/

h1, h2, h3, h4, h5, h6 {
    color: $color-black;
    //margin: $heading-spacing;
}

/*
 * Heading font sizes
*/

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

@media (min-width: $min-tablette) and (max-width: $max-tablette){
    h1 {
        font-size: $h1-size * $value-tablette;
    }
    
    h2 {
        font-size: $h2-size * $value-tablette;
    }
    
    h3 {
        font-size: $h3-size * $value-tablette;
    }
    
    h4 {
        font-size: $h4-size * $value-tablette;
    }
    
    h5 {
        font-size: $h5-size * $value-tablette;
    }
    
    h6 {
        font-size: $h6-size * $value-tablette;
    }
}

@media (min-width: $min-laptop){
    h1 {
        font-size: $h1-size * $value-laptop;
    }
    
    h2 {
        font-size: $h2-size * 1.75;
    }
    
    h3 {
        font-size: $h3-size * $value-laptop;
    }
    
    h4 {
        font-size: $h4-size * $value-laptop;
    }
    
    h5 {
        font-size: $h5-size * $value-laptop;
    }
    
    h6 {
        font-size: $h6-size * $value-laptop;
    }
}

/*
 Paragraphes
*/

p{
    margin: 0;
}