.portfolio__project, .job__opportunity{
    grid-column: 2 / 12;
}

.project__img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.project__separator, .job__separator{
    border: 3px solid $color-vix-pink;
}

.project__details, .job__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__link, .job__link{
    color: black;
    text-align: right;
}

.project__details > p, .job__details > p{
    margin: 0;
    font-weight: 700;
}

.job__name{
    height: 200px;
    background-color: $color-vix-pink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: $h3-size;
}

.job__opportunity > a{
    text-decoration: none;
}

@media (min-width: $min-tablette) and (max-width: $max-tablette){
    .portfolio__project--first{
        grid-column: 2 / 7;
    }

    .portfolio__project--second{
        grid-column: 7 / 12;
    }

    
}

@media (min-width: $min-laptop){
    .portfolio__project{
        grid-column: auto;
    }
}