/*
# Main-header
*/

.main-header{
    background-color: $color-vix-pink;
    height: 80px;
    align-items: center;
    grid-auto-rows: 80px;
    transition: 0.3s ease;
}

.main-header__logo--small > img{
    height: 50px;
    width: 50px;
}

.main-header__logo--big{
    display: none;
    height: 100%;
    width: auto;
    max-height: 75px;
}

.main-header__nav--big{
    display: none;
}

.main-header__logo--small{
    grid-column: 2 / 4;
    z-index: 10;
    justify-self: start;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__nav{
    grid-column: 4 / 12;
    justify-self: end;
}

.main-header__nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header__hamburger{
    height: 25px;
    width: auto;
}

.main-header::after{
    content: '';
    background-image: url("../images/wave-header.svg");
    position: absolute;
    top: 79px;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    left: 0;
    transition: 0.3s ease;    
}

.main-header__animation::after{
    top: 100vh !important;
}

@media (min-width: $min-desktop){
    .main-header__nav{
        width: 100%;
        height: 100%;
    }

    .main-header__nav > ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-header__nav--big{
        display: block;
    }

    .main-header__nav--big > a{
        color: $color-white;
        text-decoration: none;
    }

    .main-header__nav--small{
        display: none;
    }
}