/*
# Margin
*/

.margin > p, .margin > .button--stroke, .margin > .button--filled{
    margin-bottom: $spacing-value/2;
}

.margin > *:first-child{
    margin-top: $spacing-value;
}

.margin > *:last-child{
    margin-bottom: $spacing-value;
}

.margin > *{
    margin-bottom: $spacing-value;
}
