/*
# News
*/

.news{
    background-color: $color-vix-gray;
}

.news__title{
    grid-column: 2 / 12;
    text-align: center;
}

.news__card{
    grid-column: 2 / 12;
    padding: 0;
}

.news__img{
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.news__post-title{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.news__excerpt{
    text-align: center;
    padding: 0 20px 0 20px;
}

.news__read-more{
    color: $color-vix-pink;
}

.news__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: $spacing-value/2;
}

.news__author{
    color: $color-vix-pink;
}

@media (min-width: $min-laptop){
    .news{
        grid-template-columns: 1fr 1fr;
    }

    .news__card{
        grid-column: auto;
    }

    .news__title{
        grid-column: 1 / 3;
    }

    .news > *:last-child{
        display: none;
    }
}

@media (min-width: $min-desktop){
    .news{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .news__title{
        grid-column: 1 / 4;
    }

    .news > *:last-child{
        display: block;
    }
}