/*
# Portfolio
*/

.portfolio{
    background-color: $color-vix-gray;
}

.portfolio__title{
    grid-column: 2 / 12;
    text-align: center;
}

@media (min-width: $min-laptop) and (max-width: $max-laptop){
    .portfolio{
        align-items: center;
    }

    .portfolio__title{
        grid-column: 1 / 5;
        text-align: left;
    }
}

@media (min-width: $min-desktop){
    .portfolio__title{
        grid-column: 1 / 13;
    }
}